*

!/config
!/config/**

!/src
!/src/**

!/package.json
!/README.md
!/LICENCE
!/tsconfig.json
!/tslint.json
!/yarn.lock
!/.commitlintrc.yml
!/.czrc
!/.editorconfig
!/.gitignore
!/.huskyrc.yml
!/.lintstagedrc.yml
!/.mergify.yml
!/.mocharc.yml
!/.prettierignore
!/.prettierrc.yml


