*

!/assets
!/assets/**

!/config
!/config/default.yml
!/config/test.yml
!/config/custom-environment-variables.yml

!/src
!/src/**

!/test
!/test/**

!/.circleci
!/.circleci/**

!/package.json
!/README.md
!/LICENSE
!/tsconfig.json
!/tslint.json
!/yarn.lock
!/.commitlintrc.yml
!/.czrc
!/.editorconfig
!/.gitignore
!/.huskyrc.yml
!/.lintstagedrc.yml
!/.mergify.yml
!/.mocharc.yml
!/.prettierignore
!/.prettierrc.yml
!/.gitignore
!/Dockerfile*
!/.dockerignore
!/docker-compose.yml
!/test.sh

